# Build folders
bin/
obj/

# Visual Studio
.vs/
.vscode/
*.user
*.suo

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

# Other temporary files
*.log
*.tmp
*.cache
*.pdb
*.exe
*.dll